<!doctype html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8" />
        <title>Logged</title>
    </head>
    <body>
        <div class="row">
            <div class="col-xs-6 col-xs-offset-3">
                <h3 class="text-center">
                    Logged as <span th:text="${user.getLogin()}"></span><br />
                </h3>
                     <h6>
                    Hadoop: <span th:text="${hadoop}"></span><br />
                </h6>
            </div>        
        </div>
        <a href="/logout">Logout</a>
    </body>
</html>